@{
    ViewData["Title"] = "Home Page";
}

<h3>TPH</h3>
<ul>
    <li>
        @Html.ActionLink("Articles", "Index", "Articles")
    </li>
    <li>
        @Html.ActionLink("Books", "Index", "Books")
    </li>
</ul>

<h3>TPT</h3>
<ul>
    <li>
        @Html.ActionLink("Students", "Index", "Students")
    </li>
    <li>
        @Html.ActionLink("Teachers", "Index", "Teachers")
    </li>
</ul>

